@import "./variants/dark.css";
@import "./variants/status.css";

@import "./themes/breakpoint.css";
@import "./themes/color.css";
@import "./themes/color-light.css";
@import "./themes/color-dark.css";
@import "./themes/font.css";
@import "./themes/radius.css";
@import "./themes/reset.css";

@import "./plugins/scrollbar.css" layer(components);
@import "./plugins/bg-striped.css" layer(components);

@source "../src";
@source "../dist";

body {
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
  color: var(--color-fg-normal);
  background-color: var(--color-bg-normal);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-fg-placeholder);
}
